* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v179_42 {
  width: 100%;
  height: 720px;
  background: rgba(0,0,0,0.8700000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v180_43 {
  width: 634px;
  height: 100%;
  background: url("../images/v180_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v184_42 {
  width: 605px;
  height: 560px;
  background: url("../images/v184_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 654px;
  overflow: hidden;
}
.v180_44 {
  width: 605px;
  height: 70px;
  background: rgba(28,30,31,1);
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  border: 1px solid rgba(0,255,224,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v180_45 {
  width: 605px;
  height: 70px;
  background: rgba(28,30,31,1);
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 0px;
  border: 1px solid rgba(0,255,224,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v180_46 {
  width: 361px;
  height: 70px;
  background: rgba(28,30,31,1);
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 122px;
  border: 1px solid rgba(0,209,255,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v180_47 {
  width: 406px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 95px;
  left: 100px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.6000000238418579;
  text-align: left;
}
.v180_48 {
  width: 197px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 0px;
  left: 204px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v180_52 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 497px;
  left: 239px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v180_50 {
  width: 241px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 344px;
  left: 182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 0.6000000238418579;
  text-align: left;
}
.v181_54 {
  width: 169px;
  height: 20px;
  background: url("../images/v181_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 424px;
  left: 218px;
  overflow: hidden;
}
.v180_51 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v181_53 {
  width: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 0px;
  border: 1px solid rgba(30,18,18,1);
}
.v180_49 {
  width: 249px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 206px;
  left: 178px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 40px;
  opacity: 0.6000000238418579;
  text-align: left;
}
.v184_45 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 29px;
  overflow: hidden;
}
.v184_46 {
  width: 26px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
}
.v184_43 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 683px;
  overflow: hidden;
}
.v184_44 {
  width: 22px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v184_63 {
  width: 108px;
  color: rgba(0,193,255,0.699999988079071);
  position: absolute;
  top: 633px;
  left: 900px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
